@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.overflow-hidden {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #1ed760;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  height: 8rem;
  background-color: black;
}
@media only screen and (max-width: 1000px) {
  .header {
    height: 5.4rem;
  }
}

.main {
  height: auto;
  min-height: 85rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2941ab;
  color: #1ed760;
  flex-wrap: wrap;
}
.footer {
  background-size: auto;
  background-color: black;
  padding: 8rem 0 5rem 0;
}
@media only screen and (max-width: 1000px) {
  .footer {
    padding: 5rem 0 2rem 0;
  }
}

.banner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 117rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.banner .home__img {
  padding-top: 0.3rem;
  height: 4rem;
}
@media only screen and (max-width: 1000px) {
  .banner .home__img {
    height: 2.7rem;
  }
}
@media only screen and (max-width: 1200px) {
  .banner {
    max-width: 97rem;
  }
}
@media only screen and (max-width: 1000px) {
  .banner {
    max-width: 75rem;
  }
}
.banner .nav {
  height: inherit;
  width: auto;
}
.banner .nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-weight: 700;
}
@media only screen and (max-width: 1000px) {
  .banner .nav__list {
    display: none;
  }
}
.banner .nav__item > * {
  display: inline-block;
  padding: 3rem 1.7rem;
}
.banner .nav__item span {
  font-weight: 400;
  cursor: default;
}

.account {
  color: #d9dadc;
}

.nav-mobile {
  align-self: center;
  position: relative;
}
.nav-mobile__checkbox {
  display: none;
  z-index: 100;
}
.nav-mobile__checkbox:checked ~ .nav-mobile__background {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.nav-mobile__checkbox:checked ~ .nav-mobile__background > .nav-mobile__menu {
  opacity: 1;
  width: 45rem;
  visibility: visible;
}
@media only screen and (max-width: 450px) {
  .nav-mobile__checkbox:checked ~ .nav-mobile__background > .nav-mobile__menu {
    width: 100%;
  }
}
.nav-mobile__checkbox:checked ~ .nav-mobile__background > .nav-mobile__menu > .nav-mobile__home {
  opacity: 1;
  transform: translateX(0);
}
.nav-mobile__checkbox:checked ~ .nav-mobile__background > .nav-mobile__menu > .nav-mobile__list > * {
  opacity: 1;
  transform: translateX(0);
}
.nav-mobile__btn {
  display: none;
  height: 4.2rem;
  width: 3rem;
  text-align: right;
  cursor: pointer;
  z-index: 100;
}
@media only screen and (max-width: 1000px) {
  .nav-mobile__btn {
    display: inline-block;
  }
}
.nav-mobile__icon {
  position: relative;
  margin-top: 2rem;
}
.nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
  width: 2.2rem;
  height: 3px;
  background-color: white;
  display: inline-block;
  transition: all 0.2s;
}
.nav-mobile__icon::before, .nav-mobile__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.nav-mobile__icon::before {
  top: -0.7rem;
}
.nav-mobile__icon::after {
  top: 0.7rem;
}
.nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon {
  background-color: transparent;
}
.nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon::before {
  top: 0;
  transform: rotate(-45deg);
}
.nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon::after {
  top: 0;
  transform: rotate(45deg);
}
.nav-mobile__background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
@media only screen and (min-width: 1000px) {
  .nav-mobile__background {
    display: none;
  }
}
.nav-mobile__mask {
  width: 100%;
  height: 100%;
  scroll-behavior: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.nav-mobile__menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  height: 100vh;
  width: 20rem;
  top: 0;
  right: 0;
  padding: 3.8rem;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.nav-mobile__list > * {
  opacity: 0;
  transform: translateX(30rem);
}
.nav-mobile__item:nth-child(1) {
  transition: all 0.2s;
}
.nav-mobile__item:nth-child(2) {
  transition: all 0.2s 25ms;
}
.nav-mobile__item:nth-child(3) {
  transition: all 0.2s 50ms;
}
.nav-mobile__item:nth-child(4) {
  transition: all 0.2s 75ms;
}
.nav-mobile__item:nth-child(5) {
  transition: all 0.2s 100ms;
}
.nav-mobile__item:nth-child(6) {
  transition: all 0.2s 125ms;
}
.nav-mobile__link {
  display: block;
  padding-bottom: 2.5rem;
  font-size: 2.4rem;
}
.nav-mobile__link:not(.mobile-account) {
  font-size: 3.3rem;
  font-weight: 700;
}
.nav-mobile__separator {
  background-color: white;
  width: 2.3rem;
  height: 3px;
  margin: 1.8rem 0 4rem 0;
}
.nav-mobile__home {
  opacity: 0;
  transform: translateX(20rem);
  transition: all 0.2s 200ms;
}

.main {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.main__container {
  max-width: 117rem;
  height: auto;
  padding-bottom: 4rem;
  position: relative;
  text-align: left;
  z-index: 3;
}
@media only screen and (max-width: 1200px) {
  .main__container {
    text-align: center;
    max-width: 90rem;
  }
}
.main__container::before {
  content: "";
  width: 33rem;
  height: 100%;
  float: left;
  shape-outside: polygon(0 calc(100% - 20rem), 100% 100%, 0 100%);
}
@media only screen and (max-width: 1200px) {
  .main__container::before {
    display: none;
  }
}
.main__title {
  font-size: 12.5rem;
  line-height: 16rem;
  font-weight: 800;
  transform: scaleX(87%);
  height: inherit;
}
.main__title::before {
  width: 33rem;
  height: 20rem;
  content: "";
  float: right;
  shape-outside: polygon(100% 0, 100% 100%, 0 0);
}
@media only screen and (max-width: 1200px) {
  .main__title::before {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .main__title {
    font-size: 7.7rem;
    line-height: 9rem;
  }
}
@media only screen and (max-width: 500px) {
  .main__title {
    font-size: 5rem;
    line-height: 7rem;
  }
}
.main__content {
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 4rem;
  transform: scaleX(92%);
  font-weight: 500;
}
@media only screen and (max-width: 1200px) {
  .main__content {
    max-width: 40rem;
  }
}
@media only screen and (max-width: 500px) {
  .main__content {
    font-size: 1.5rem;
  }
}
.main__btn {
  padding: 1.5rem 3rem;
  background-color: #1ed760;
  color: #2941ab;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 200px;
  transform: scaleX(90%);
}
.main__btn:hover {
  transform: scale(0.93, 1.03);
  transform-origin: center;
  color: #2941ab;
  filter: brightness(105%);
}
.main__shapes * {
  background-color: #1ed760;
  position: absolute;
  border-radius: 50%;
}
.main__circle--left-small {
  width: 19vw;
  height: 19vw;
  top: 24vw;
  left: -9vw;
  border-radius: 50%;
}
@media only screen and (max-width: 1200px) {
  .main__circle--left-small {
    width: 15vw;
    height: 15vw;
    top: calc(54vw + 30rem);
    left: 15vw;
  }
}
@media only screen and (max-width: 500px) {
  .main__circle--left-small {
    top: calc(54vw + 40rem);
  }
}
.main__circle--left-large {
  width: 65vw;
  height: 65vw;
  top: 34vw;
  left: -32vw;
  overflow: hidden;
  z-index: 2;
}
.main__circle--left-large .inner-small {
  top: -10vw;
  left: 23vw;
  background-color: #2941ab;
}
@media only screen and (max-width: 1200px) {
  .main__circle--left-large .inner-small {
    left: 49vw;
    top: 20vw;
  }
}
@media only screen and (max-width: 1200px) {
  .main__circle--left-large {
    width: 55vw;
    height: 55vw;
    top: calc(34vw + 30rem);
    left: -34vw;
  }
}
@media only screen and (max-width: 500px) {
  .main__circle--left-large {
    top: calc(34vw + 40rem);
  }
}
.main__circle--right {
  width: 50vw;
  height: 50vw;
  top: -2vw;
  right: -40vw;
}
@media only screen and (max-width: 1200px) {
  .main__circle--right {
    top: calc(-80vw + 50rem);
    bot: 90px;
    right: -25vw;
  }
}
@media only screen and (max-width: 500px) {
  .main__circle--right {
    top: calc(-80vw + 35rem);
  }
}
.main__circle--bottom {
  width: 10vw;
  height: 10vw;
  top: 55vw;
  left: 70vw;
}
@media only screen and (max-width: 1200px) {
  .main__circle--bottom {
    width: 20vw;
    height: 20vw;
    top: calc(35vw + 35rem);
    left: 85vw;
  }
}
@media only screen and (max-width: 500px) {
  .main__circle--bottom {
    display: none;
  }
}

.footer__container {
  max-width: 117rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 3fr 2fr;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  .footer__container {
    max-width: 97rem;
  }
}
@media only screen and (max-width: 1000px) {
  .footer__container {
    max-width: 75rem;
    grid-template-rows: repeat(5, auto);
  }
}
.footer .home {
  grid-area: 1/1/span 1/span 1;
  padding: 0 1.5rem;
}
@media only screen and (max-width: 1000px) {
  .footer .home {
    grid-area: 1/1/span 1/-1;
  }
}
.footer .home__img {
  height: 4rem;
}
@media only screen and (max-width: 1000px) {
  .footer .home__img {
    height: 2.7rem;
  }
}
.footer__nav-top {
  grid-area: 1/2/span 1/span 1;
  display: flex;
  flex-wrap: wrap;
  height: 34.6rem;
}
@media only screen and (max-width: 1000px) {
  .footer__nav-top {
    grid-area: 2/1/span 1/-1;
  }
}
@media only screen and (max-width: 750px) {
  .footer__nav-top {
    flex-direction: column;
    height: auto;
  }
}
.footer__nav-top-box {
  padding: 0 1.5rem;
  flex: 1;
  font-size: 1.2rem;
}
.footer__nav-top-box--title {
  margin: 2rem 0;
  color: #919496;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
  .footer__nav-top-box--title {
    margin: 5rem 0 2.2rem 0;
  }
}
.footer__nav-top-box--item {
  display: table;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.footer__nav-top-box--link {
  display: table-cell;
  padding: 0.3rem 0 1.5rem 0;
}

.social {
  grid-area: 1/3/span 1/span 1;
  margin: 2rem 1.5rem auto 0;
  justify-self: end;
}
@media only screen and (max-width: 1000px) {
  .social {
    grid-area: 3/1/span 1/-1;
    justify-self: start;
    margin: 12rem 1.5rem 1.5rem 1.5rem;
  }
}
.social__link {
  height: 5.4rem;
  width: 5.4rem;
  background-color: #222326;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .social__link {
    height: 4.4rem;
    width: 4.4rem;
  }
}
.social__link:not(:last-child) {
  margin-right: 1.1rem;
}
.social__icon {
  fill: white;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location {
  grid-area: 2/1/span 1/-1;
  justify-self: end;
  align-content: start;
  margin: 0 1.5rem;
}
@media only screen and (max-width: 1000px) {
  .location {
    grid-area: 4/1/span 1/-1;
    justify-self: end;
  }
}
.location__link {
  color: #919496;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.location__icon {
  fill: #919496;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.8rem;
}

.legal {
  grid-area: 3/1/span 1/-1;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1000px) {
  .legal {
    grid-area: 5/1/span 1/-1;
  }
}
.legal__list {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}
.legal__item {
  margin-right: 2.4rem;
  display: table;
}
.legal__link {
  color: #919496;
  padding: 1.1rem 0;
  display: table-cell;
}
.legal__copyright {
  color: #919496;
  margin-right: 1.5rem;
  padding: 1.1rem 0;
}

/*# sourceMappingURL=style.css.map */
