$--color-black: rgb(0, 0, 0);
$--color-grey-1: rgb(145, 148, 150);
$--color-grey-2: rgb(217, 218, 220);
$--color-white: rgb(255, 255, 255);

$--color-primary: rgb(30, 215, 96);
$--color-secondary: rgb(41, 65, 171);

$--font-main: "Montserrat", sans-serif;
$--font-thick: 700;
$--font-thin: 400;
