@import "base";
@import "layout";
@import "components";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: $--font-main;
  font-weight: $--font-thin;
  color: $--color-white;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $--color-white;

  &:hover {
    color: $--color-primary;
  }
}
